## Megatutorial 2

In [7]:
from pandas import read_csv

In [8]:
data = read_csv("fake_profiles.csv", index_col=0)

In [9]:
data.head(3)

  profile_pic  rel_num_numeric_char_username  ...  num_follows  is_fake
0         yes                           0.27  ...          955       no
1         yes                           0.00  ...          533       no
2         yes                           0.10  ...           98       no

[3 rows x 12 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 576 entries, 0 to 575
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   profile_pic                    576 non-null    object
 1   rel_num_numeric_char_username  576 non-null    float64
 2   words_fullname                 576 non-null    int64
 3   rel_num_numeric_char_fullname  576 non-null    float64
 4   name=username                  576 non-null    object
 5   description_length             576 non-null    int64
 6   has_external_url               576 non-null    object
 7   is_private                     576 non-null    object
 8   num_posts                      576 non-null    int64
 9   num_followers                  556 non-null    float64
 10  num_follows                    576 non-null    int64
 11  is_fake                        576 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 58.5+ KB